<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <ul>
      {% for pup in puppies %}
      <li>{{pup}}</li>
      {% endfor %}
    </ul>

    {% if 'Rufus' in puppies %}
      <p>Found you Rufus!</p>
    {% else %}
      <p>Humm.. Rufus is not in this list!</p>
    {% endif %} -->

    {% if user_logged_in %}
      <p>Welcome back, you are now logged in!</p>
    {% else %}
      <p>Please log in!</p>
    {% endif %}

  </body>
</html>
